[Unit]
Description=AlertManager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/alertmanager
ExecStart=/etc/alertmanager/alertmanager-0.26.0.linux-amd64/alertmanager

[Install]
WantedBy=multi-user.target