[Unit]
Description=AlertManager Server Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/etc/alertmanager/alert-manager.yml --config.file /etc/alertmanager/alert-manager.yml

[Install]
WantedBy=multi-user.target