[Unit]                                                                                       
Description=Grafana instance                                                                    
Documentation=http://docs.grafana.org                                                           
Wants=network-online.target                                                                     
After=network-online.target                                                                     
After=postgresql.service mariadb.service mysql.service                                          
                                                                                                
[Service]                                                                                                                                                 
ExecStart=/etc/grafana/grafana.ini \        

[Install]
WantedBy=multi-user.target