[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/etc/node_exporter/node_exporter-0.18.1.linux-amd64/node_exporter  --collector.systemd

[Install]
WantedBy=multi-user.target