[Unit]
Description=Prometheus Time Series Collection and Processing Server

[Service]
ExecStart= /opt/prometheus/prometheus

[Install]
WantedBy=multi-user.target